<p id="notice"><%= notice %></p>

<p>
  <strong>Postcode:</strong>
  <%= @listing.postcode %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @listing.tenant %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
